/* Правила, применимые ко всему body  */
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --secondary-text-color: #FFFFFF;
    --accent-color: #2196F3;
    --secondary-background-color: #2F303A;
    --color-logo-black: #000000;
    --color-contacts: #757575;
    --button-background-color: #F5F4FA;
}

body {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: var(--primary-text-color);
    background-color: var(--secondary-text-color);
}

h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.35;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--title-text-color);
}

button {
    font-family: inherit;
    cursor: pointer;
}

a {
    text-decoration: none;
}

.container {
    width: 1200px;
}

/* Стилизация header  */
.logo {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    color: var(--color-logo-black);
}

.accent {
    color: var(--accent-color);
}

.site-nav a {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--title-text-color);
}

.contacts a {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--color-contacts);
}

a.contacts.header {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--primary-text-color);
    background-color: var(--secondary-text-color);
}

.site-nav a:hover,
.site-nav a:focus,
a.contacts.header:hover,
a.contacts.header:focus,
a.current {
    color: var(--accent-color);
}

/* Стилизация footer  */
footer {
    background-color: var(--secondary-background-color);
}

.logo.footer {
    color: var(--secondary-text-color);
}

.physical-adress {
    font-style: none;
    font-style: normal;

    color: var(--secondary-text-color);
}

a.contacts.footer {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-style: normal;

    color: rgba(255, 255, 255, 0.6);
}


a.contacts.footer:hover,
a.contacts.footer:focus {
    color: var(--accent-color);
}

/* Стилизация main главной страницы */

/* Стилизация секции hero */
.hero {
    text-align: center;
    letter-spacing: 0.06em;

    background-color: var(--secondary-background-color);
}

h1 {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;
    
    color: var(--secondary-text-color);
}

.hero button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    
    color: var(--secondary-text-color);
    background-color: var(--accent-color);
}

/* Стилизация секции benefits */
.benefits h3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: var(--title-text-color);
}

.benefits p {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/* Стилизация секции services */

/* Стилизация секции team */
.team {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

.team h3 { 
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
        letter-spacing: 0.03em;

    color: var(--title-text-color);
}

.team p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

/* Стилизация страницы portfolio*/
.work-types .button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: var(--title-text-color);
    background-color: var(--button-background-color);
}

.work-types .button:hover,
.work-types .button:focus {
    color: var(--secondary-text-color);
    background-color: var(--accent-color);
}

.work-examples h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    
    color: var(--title-text-color);
}

.work-examples p {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    
    color: var(--primary-text-color);
}